# macOS
.DS_Store

# Xcode (user-specific)
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Xcode (build artifacts)
DerivedData/
build/
*.ipa
*.dSYM
*.dSYM.zip
*.hmap

# SwiftPM
.build/
.swiftpm/
Packages/
Package.resolved

# Node
node_modules/

# Logs
*.log

# Xcode build server
buildServer.json
.compile
