.DS_Store

# Xcode
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM
*.dSYM.zip
*.hmap
*.xcscmblueprint
*.xccheckout
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# SwiftPM
.build/
.swiftpm/
Packages/
Package.resolved

# Node
node_modules/

# Logs
*.log

# Xcode build server
buildServer.json
.compile
